.cart-items-list {
    width: 100%;
    display: flex;
    align-items: center;
  
    background-color: transparent;
    margin: 16px 0;
  }
  
  .cart-img {
    width: 136px;
    height: 90px;
    border-radius: 8px;
    flex-shrink: 0;
  }
  @media screen and (min-width: 768px) {
    .cart-img {
      height: 100px;
    }
  }
  
  .cart-items-container {
    margin-left: 16px;
  }
  
  @media screen and (min-width: 768px) {
    .cart-items-container {
      width: 90%;
      display: flex;
      justify-content: space-between;
    }
  }
  
  .item-title {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #183b56;
    margin: 0;
  }
  
  @media screen and (min-width: 768px) {
    .item-title {
      font-size: 20px;
      line-height: 24px;
      align-self: flex-start;
      text-align: left;
    }
  }
  
  @media screen and (min-width: 768px) {
    .quantity-price-container {
      width: 60%;
      display: flex;
      justify-content: space-between;
    }
  }
  
  .cart-item-price {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffa412;
    margin: 0;
    padding-right: 20px;
  }