
.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .order-total {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #3e4c59;
  }
  @media screen and (min-width: 768px) {
    .order-total {
      font-size: 20px;
    }
  }
  
  .total-price {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #3e4c59;
  }
  
  .order-button {
    background: #f7931e;
    border-radius: 8px;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-self: flex-end;
  }
  .dash-line {
    width: 100%;
    border: 1px dashed #cbd2d9;
    margin: 15px 0px 15px 0px;
  }
  @media screen and (max-width: 768px) {
    .dash-line {
      display: none;
    }
  }
  