.nf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    border-radius: 0px;
  }
  .nf-heading {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #1e293b;
  }
  .nf-image {
    height: 296.9958190917969px;
    width: 268.99359130859375px;
  }
  .nf-note {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #475569;
  }
  .nf-link {
    text-decoration: none;
  }
  .nf-button {
    padding: 12px 24px;
    gap: 8px;
    width: 123px;
    height: 48px;
    background: #f7931e;
    border-radius: 12px;
    flex: none;
    outline: none;
    border: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
  }