.login-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    overflow-x: hidden;
  }
  
  @media screen and (min-width: 768px) {
    .login-container {
      flex-direction: row-reverse;
      width: 100%;
    }
  }
  
  .login-image {
    margin-bottom: 0;
    overflow: hidden;
  }
  @media screen and (min-width: 768px) {
    .login-image {
      width: 50%;
    }
  }
  
  .login-bg {
    position: absolute;
    height: 420px;
    width: 400px;
    left: 56px;
    top: -90px;
    right: -100px;
    bottom: 350px;
    border-radius: 260px;
  }
  
  @media screen and (min-width: 768px) {
    .login-bg {
      width: 75vh;
      height: 100vh;
      top: 0;
      right: 0;
      border-radius: 0px;
      position: static;
    }
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 300px;
    width: 100%;
    border-radius: 8px;
  }
  
  @media screen and (min-width: 768px) {
    .form-container {
      width: 400px;
      height: 500px;
      left: 250px;
      top: 200px;
      right: 819px;
      bottom: 232px;
      background: #fefeff;
      border-radius: 8px;
      box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
      padding: 50px 25px 50px 25px;
    }
  }
  
  .login-desktop {
    height: 39px;
    width: 48px;
    left: 2px;
    top: 2px;
    border-radius: 0px;
  }
  
  @media screen and (max-width: 767px) {
    .login-desktop {
      display: none;
    }
  }
  
  .form-title {
    font-family: DM Sans;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
    color: #f7931e;
  }
  @media screen and (max-width: 767px) {
    .form-title {
      display: none;
    }
  }
  
  .form-login-text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 20px;
    color: #0f172a;
  }
  
  @media screen and (max-width: 767px) {
    .form-login-text {
      position: absolute;
      width: 60px;
      height: 32px;
      left: 24px;
      top: -56px;
      font-family: DM Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      margin: 0;
    }
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }
  
  .label {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #475569;
  }
  
  .input {
    font-size: 14px;
    line-height: 24px;
    height: 40px;
    border: 1px solid #d7dfe9;
    background-color: #e2e8f0;
    color: #64748b;
    border-radius: 2px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    outline: none;
  }
  .login-button {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: #f7931e;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .error-message {
    align-self: start;
    font-size: 12px;
    line-height: 16px;
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 16px;
    color: #ef4444;
  }